extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
    h1 Create Product
    +alert-error(5000)

    form(
        action=`/${prefixAdmin}/seller/products/create`
        method="POST"
        id="form-create-product"
        enctype="multipart/form-data"
    )
        .row.g-3
            .col-6
                .form-group
                    label(for="title") Title *
                    input.form-control(type="text" name="title" id="title" placeholder="Product title" required)
            .col-6
                .form-group
                    label(for="product_category_id") Category
                    select.form-control(name="product_category_id" id="product_category_id")
                        option(value="") Select Category
                        each category in categories
                            option(value=category._id) #{category.title}
            .col-12
                .form-group
                    label(for="description") Description
                    textarea.form-control.textarea-tinymce(name="description" id="description" rows="3" placeholder="Product description")

            .col-4
                .form-group
                    label(for="price") Price *
                    input.form-control(type="number" step="0.01" name="price" id="price" required)

            .col-4
                .form-group
                    label(for="discountPercentage") Discount (%)
                    input.form-control(type="number" step="0.01" name="discountPercentage" id="discountPercentage" value="0")

            .col-4
                .form-group
                    label(for="stock") Stock *
                    input.form-control(type="number" name="stock" id="stock" required)

            .col-6
                div(
                    class="form-group image-preview" 
                    upload-image
                )
                    label(for="thumbnail") Thumbnail
                    input.form-control(type="file" name="thumbnail" id="thumbnail" accept="image/*" upload-image-input)
                    img.form-img-preview(src="" upload-image-preview)
                    button.close-button(type="button" upload-image-remove class="d-none") X

            .col-6
                .form-group
                    label(for="status") Status
                    select.form-control(name="status" id="status")
                        option(value="active" selected) Active
                        option(value="inactive") Inactive

            .col-6
                div(
                    class="form-group" 
                    upload-image-multiple
                )
                    label(for="images") Images
                    input.form-control(type="file" name="images" id="images" accept="image/*" upload-image-input multiple)
                    div.image-preview-container.d-flex.flex-wrap.mt-2
                        //- Preview images will be generated here by JS

            .col-12.text-end.mt-4
                a.btn.btn-secondary.me-2(href=`/${prefixAdmin}/seller/products`) Cancel
                button.btn.btn-primary(type='submit') Create Product

    script(src="/admin/js/tinymce-config.js")
    script(src="/admin/js/upload-image.js")
    script(src="/admin/js/upload-multiple-image.js")
